#Prevent users to commit csv files

.csv

#Prevent users to commit zip files

.zip

# Prevent users to commit their own RProject

.Rproj.user

.Rproj

# Prevent users to commit their own .RData and .Rhistory in mutual area

.RData

.Rhistory

.Rapp.history

# Temporary files

*~

~$*.doc*

~$*.xls*

*.xlk

~$*.ppt*

# Prevent mac users to commit .DS_Store files

*.DS_Store

# Prevent users to commit the README files created by RStudio

*README.html

*README_cache/

#*README_files/

#local files and data to ignore
*local_scripts/
*data/
*Task/

*Invoice-sorting.Rproj
